@import "tailwindcss";

@keyframes marquee-left-to-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-ltr {
  animation: marquee-left-to-right 5s linear infinite;
}


